<!DOCTYPE html>
<html>
  <head>
    <title>UserService</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application'%>
    <%= javascript_include_tag 'application'%>
    <%= javascript_pack_tag 'hello_react' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic" rel="stylesheet" type="text/css">
  </head>

  <body>
  <div id="header">

  </div>
  <div id="sidebar">

  </div>
  <div class="container">
    <%= yield %>
  </div>

  <script>
      <%if flash.present?%>
      <% flash.each do |type, message| %>
      $.notify('<%= message %>', { type: '<%= bootstrap_class_for(type) %>', template: '<div data-notify="container" class="col-sm-4 p-0">\
<div class="alert alert-{0} border-{0} border-left-bold alert-dismissible">\
<button type="button" class="close" data-notify="dismiss">×</button>{2}</div>\
</div>' });
      <% end %>
      <% end %>
  </script>
  </body>
</html>
