<!DOCTYPE html>
<html>
  <head>
    <title>UserService</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application'%>
    <%= javascript_include_tag 'application'%>
    <%= javascript_pack_tag 'hello_react' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic" rel="stylesheet" type="text/css">
  </head>

  <body>
  <div id="header">

  </div>
  <div id="sidebar">

  </div>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
